# The generated binary
src/xmosaic
XMosaic/xmosaic
*.swp

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vagrant
/ubuntu-bionic-18.04-cloudimg-console.log
